<h2>Reactivos: Básicos</h2>
<hr>

<div class="row">
    <div class="col">

        <!-- Enlazamos con el objeto del FormBuilder mediante [formGroup] -->
        <form [formGroup]="myForm" (ngSubmit)="onSave()" autocomplete="off">

            <!-- Campo de producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">

                    <!-- Enlazamos con la prop del Form con la etiqueta  formControlName -->
                    <input type="text"
                           formControlName="name"
                           class="form-control"
                           placeholder="Nombre del producto">

                    <!-- Varias formas de representar elmensaje de  error -->

                    <!-- 1/ con ngIf y contemplando Touched => required -->
                    <!-- <span *ngIf="myForm.controls['name'].getError('required') && myForm.controls['name'].touched"
                        class="form-text text-danger">
                        <!- - Se debe rellenar - ->
                        Este campo el obligatorio
                    </span> -->

                    <!-- 2/  con ngIf y contemplando Touched => minlength => OJO con minúculas todo 'minlength' -->
                    <!-- <span *ngIf="myForm.controls['name'].getError('minlength') && myForm.controls['name'].touched"
                        class="form-text text-danger">
                        <!- - Debe de ser de 3 letras - ->
                        Este campo requiere 3 letras
                    </span> -->

                    <!-- 3/  usando el getter -->
                    <span *ngIf="isInvalidField('name')"
                        class="form-text text-danger">
                        <!-- mensajje dinámico -->
                        {{ this.getFieldError('name') }}
                    </span>

                </div>
            </div>

            <!-- Campo de producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input type="number"
                           formControlName="price"
                           class="form-control"
                           placeholder="Precio del producto">
                    <span *ngIf="isInvalidField('price')"
                        class="form-text text-danger">
                        El precio debe de ser 0 o mayor
                    </span>
                </div>
            </div>

            <!-- Campo de existencias -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">
                    <input type="number"
                           formControlName="inStorage"
                           class="form-control"
                           placeholder="Existencias del producto">

                    <span *ngIf="isInvalidField('inStorage')"
                        class="form-text text-danger">
                         Las existencias deben de ser 0 o mayor
                    </span>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <button type="submit"
                            class="btn btn-primary float-end">
                        Guardar
                    </button>
                </div>
            </div>



        </form>

    </div>
</div>



<hr>
<div class="row mt-4">
    <div class="col-12 col-sm-4">

        <h4>Form</h4>
        <br>
        <span>Valid</span>
        <pre>{{ myForm.valid | json }}</pre>

        <span>Pristine</span>
        <pre>{{  myForm.pristine | json }}</pre>

        <span>Touched</span>
        <pre>{{  myForm.touched | json }}</pre>

        <span>Value</span>
        <pre>{{ myForm.value | json }}</pre>
    </div>

    <div class="col-12 col-sm-4">
        <h4>Price</h4>
        <br>
        <span>Precio</span>
        <pre>{{ myForm.controls['price'].value | json }}</pre>

        <span>Precio - Errors</span>
        <pre>{{ myForm.controls['price'].errors | json }}</pre>
        <br>
        <h4>inStorage</h4>
        <br>
        <span>In Storage</span>
        <pre>{{ myForm.controls['inStorage'].value | json }}</pre>

        <span>In Storage - Errors</span>
        <pre>{{ myForm.controls['inStorage'].errors | json }}</pre>
    </div>
    
    <div class="col-12 col-sm-4">
        <h4>Product</h4>
        <br>
        <span>Producto</span>
        <pre>{{ myForm.controls['name'].value | json }}</pre>

        <span>Producto - Errors</span>
        <pre>{{ myForm.controls['name'].errors | json }}</pre>
    </div>
</div>
