<h2>Reactivos: <small> Dinámicos </small></h2>
<hr>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()" autocomplete="off">

    <!-- Nombre -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control" formControlName="name" placeholder="Nombre de la persona">
            <span *ngIf="isInvalidField('name')" 
                class="form-text text-danger">
                {{ getFieldError('name') }}
            </span>
        </div>
    </div>

    <!-- Agregar Favorito -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">

            <!-- Para el campo de añadir se crea un formcontrol independiente 
                con el que trabajaremos de forma individualizada -->
            <div class="input-group">
                <input [formControl]="newFavorite"
                    class="form-control" placeholder="Agregar favorito"
                    (keydown.enter)="$event.preventDefault()"
                    (keydown.shift.enter)="$event.preventDefault()">

                <button class="btn btn-outline-primary" type="button"
                    (click)="onAddFavorite()">
                    Agregar favorito
                </button>
            </div>
        </div>
    </div>


    <!-- Lista de Juegos Favoritos -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>

        <!-- Aqui ponemos la etiqueta del control de array de favoritos-->
        <div class="col-sm-9" formArrayName="favoriteGames">

            <!-- Directamente iterando el array de favoriteGames
            <div class="mb-1" 
                *ngFor="let favorite of myForm.controls['favoriteGames']"> -->

            <!-- Usando el getter favoriteGamesControl del .ts 
                iteramos el FormArray en su propiedad "controls" 
                Añadimos el index para el valor de cada elemento iterado
                (no se trabaja con let favorite !!)
            -->
            <div *ngFor="let favorite of favoriteGamesControl.controls; let i = index" class="mb-1">

                <div class="input-group">
                    <input [formControlName]="i" 
                        class="form-control">

                    <button class="btn btn-outline-danger" type="button"
                        (click)="onDeleteFavorite(i)">
                        Eliminar
                    </button>
                </div>
                <span *ngIf="isInvalidFieldInArray(favoriteGamesControl, i)" 
                    class="form-text text-danger">
                    Este campo es requerido
                </span>

            </div>

        </div>
    </div>



    <div class="row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary float-end">
                <!-- [disabled]="myForm.invalid" -->
                Guardar
            </button>
        </div>
    </div>


</form>



<hr>
<div class="row mt-4">
    <div class="col-12 col-sm-4">

        <h4>Form is Valid</h4>
        <br>
        <pre>{{ myForm.valid| json }}</pre>
    </div>

    <div class="col-12 col-sm-4">
        <h4>Form Value</h4>
        <br>
        <pre>{{ myForm.value | json }}</pre>
    </div>

    <div class="col-12 col-sm-4">
        <h4>Agregar Juego</h4>
        <br>
        <pre>{{ newFavorite.value | json }}</pre>
        <pre>{{ newFavorite.valid | json }}</pre>

    </div>
</div>