<h2>Reactivos: Switches</h2>
<hr>


<form [formGroup]="myForm" (ngSubmit)="onSubmit()" autocomplete="off">

    <!-- Radio -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Género</label>
        <div class="col-sm-9">

            <div class="form-check">
                <input formControlName="gender"
                       class="form-check-input"
                       type="radio"
                       value="M"
                       id="radioMasculino">
                <label class="form-check-label" for="radioMasculino">
                  Masculino
                </label>
            </div>

            <div class="form-check">
                <input formControlName="gender"
                       class="form-check-input"
                       type="radio"
                       value="F"
                       id="radioFemenino">
                <label class="form-check-label" for="radioFemenino">
                  Femenino
                </label>
            </div>

            <span *ngIf="isInvalidField('gender')" 
                class="form-text text-danger">
                {{ getFieldError('gender') }}
            </span>

        </div>
    </div>

    <!-- Switches -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Notificaciones</label>
        <div class="col-sm-9">

            <div class="form-check form-switch mt-2">
                <input formControlName="wantNotifications"
                       class="form-check-input"
                       type="checkbox"
                       id="flexSwitchCheckChecked">
                <label class="form-check-label" for="flexSwitchCheckChecked">Quiero recibir notificaciones</label>
            </div>

            <span *ngIf="isInvalidField('wantNotifications')" 
                class="form-text text-danger">
                {{ getFieldError('wantNotifications') }}
            </span>

        </div>
    </div>

    <!-- Switches -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <div class="form-check">
                <input formControlName="termsAndConditions"
                       class="form-check-input"
                       type="checkbox"
                       id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Términos y condiciones de uso
                </label>
              </div>

              <span *ngIf="isInvalidField('termsAndConditions')" 
                class="form-text text-danger">
                {{ getFieldError('termsAndConditions') }}
            </span>

        </div>
    </div>


    <!-- Boton submit -->
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    type="submit">
                Guardar
            </button>
        </div>
    </div>

</form>

<hr>
<div class="row mt-4">
    <div class="col-12 col-sm-4">

        <h4>Valor del formulario</h4>
        <br>
        <pre>{{ myForm.value | json }}</pre>
    </div>

    <div class="col-12 col-sm-4">
        <h4>Persona</h4>
        <br>
        <pre>{{ person | json }}</pre>
    </div>

    <div class="col-12 col-sm-4">
        <h4>Términos</h4>
        <br>
        <!-- <pre>{{ myForm.controls?.terminos?.errors | json }}</pre> -->
        <pre>Condiciones: </pre>

    </div>
</div>